<div class="page-width hero-mulled">
<h2>
  Treat your senses to the sweet aroma, the spiced flavour and the warm textures of a Mulled Beverage. Experience this delicious drink with friends or family today.
</h2>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [],
    "presets": [
    {
      "name": "Hero"
    }
  ]
  }
{% endschema %}