nav.header__inline-menu ul li:nth-last-child(1) {
    border: 1px solid #fff;
    border-radius: 5px;
}

button {
  font-family: "Onest", sans-serif;
}

.hero-mulled {
    height: 100vh;
    background: url(/cdn/shop/files/bg.png) center no-repeat;
    background-size: cover;
}

.hero-mulled h2 {
    color: #fff;
    margin: 0;
    font-family: "Lancelot", sans-serif;
    font-size: 35px;
    max-width: 614px;
}